$colorTextPink: #F16D7F;
$colorTextBlack: #222222;
$colorTextWhite: #FFFFFF;
$colorTextGrey: #5D5D5D;
$colorBackBlack: #222222;
$colorBackProduct: #F8F8F8;
$colorBackLightPink: #F8F3F4;
$colorCatalogTopBack: #F7F7F7;
$colorInsertBlue: rgb(0, 115, 255);
$desktopWidth: 1140px;
$tabletWidth: 768px;
$widthBurgerMenu: 232px;
$widthSite: 1140px;
$gapGrid: 30px;
$thirdSite: calc(($widthSite - $gapGrid * 2) / 3);